.button {
  padding: var(--spacing-20) var(--spacing-32);
  font-size: var(--font-size-18);
  font-weight: 600;
  color: var(--text-white);
  background: var(--button-gradient-background);
  border-radius: 50px;
  cursor: pointer;
  line-height: 140%;
}

.button.bordered {
  padding: var(--spacing-12) var(--spacing-20);
  font-size: var(--font-size-16);
  background: transparent;
  color: var(--text-title-black);
  border: 1px solid var(--text-title-black);
}

.button.min-width {
  min-width: 6rem;
}

@media (max-width: 480px) {
  .button {
    padding: var(--spacing-12) var(--spacing-32);
    font-size: var(--font-size-16);
  }
}
