footer {
  background-color: var(--bg-footer);
  margin-block: var(--spacing-60) var(--spacing-24);
  border-radius: var(--block-border-radius);

  p {
    color: var(--text-caption);
    font-size: var(--font-size-14);
  }

  .top {
    padding: var(--spacing-80) var(--spacing-160) var(--spacing-40);

    img {
      margin-bottom: var(--spacing-32);
      width: 6.39rem;
    }

    .follow-us {
      text-align: center;
      p {
        margin-bottom: var(--spacing-20);
      }

      .socials {
        display: flex;
        gap: var(--spacing-24);

        a {
          display: inline-flex;

          img {
            width: 0.67rem;
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .bottom {
    padding-block: var(--spacing-24);

    p {
      font-size: var(--font-size-12);
    }
  }
}

@media (max-width: 480px) {
  footer {
    .top {
      padding: var(--spacing-48) var(--spacing-48) var(--spacing-32);

      img {
        margin-bottom: var(--spacing-24);
        width: 206px;
      }

      .follow-us {
        p {
          margin-bottom: var(--spacing-18);
        }

        .socials {
          gap: var(--spacing-24);

          a {
            img {
              width: var(--spacing-18);
            }
          }
        }
      }
    }

    .bottom {
      padding-block: var(--spacing-20);
    }
  }
}
