header {
  max-height: var(--header-height);
  background-color: var(--bg-white);
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-15) var(--spacing-50);

  img {
    width: 4.92rem;
  }

  .lang-selector {
    position: relative;
    margin-right: var(--spacing-15);
    padding-block: var(--spacing-15);
    font-size: var(--font-size-16);
    font-weight: 600;

    .selected {
      display: flex;
      align-items: center;

      img {
        margin-left: var(--spacing-5);
        display: inline-block;
        width: 0.44rem;
        aspect-ratio: 1/1;
      }
    }

    .list {
      background-color: var(--bg-white);
      position: absolute;
      left: 50%;
      top: calc(100% - 0.28rem);
      transform: translate(-50%, 10%);
      padding: var(--spacing-5) var(--spacing-15);
      -webkit-box-shadow: 1px 1px 13px -5px rgba(110, 110, 110, 1);
      -moz-box-shadow: 1px 1px 13px -5px rgba(110, 110, 110, 1);
      box-shadow: 1px 1px 13px -5px rgba(110, 110, 110, 1);
      visibility: hidden;
      opacity: 0;
      transition: visibility 0.4s step-end, opacity 0.4s ease;
      border-radius: 4px;

      li {
        &:not(:last-child) {
          margin-bottom: var(--spacing-5);
        }
      }

      a {
        color: var(--text-title);
      }
    }

    &:hover {
      .list {
        visibility: visible;
        opacity: 1;
        transition: visibility 0.4s step-start, opacity 0.4s ease;
      }
    }
  }
}

@media (max-width: 480px) {
  header {
    padding: var(--spacing-24) var(--spacing-20);
    max-height: 87px;

    img {
      width: 112px;
    }

    .lang-selector {
      font-size: var(--font-size-14);
      padding-block: 0;

      .selected img {
        width: var(--spacing-16);
      }

      .list {
        top: 110%;
        padding: var(--spacing-10) var(--spacing-20);

        li {
          &:not(:last-child) {
            margin-bottom: var(--spacing-10);
          }
        }
      }
    }

    .lang-selector + .button {
      display: none;
    }
  }
}
